*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    /* Etheron */
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    // background: linear-gradient(120.56deg, #1D2948 -2.28%, #141D33 21.31%, #0F1628 33.91%, #050A16 92.75%);
    background-color: #000;
}

svg{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.Navigation{
    width: 90%;
    margin: 1% 5%;
    color: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    .title{
        font-size: 1.8rem;
        font-weight: bold;
    }

}

.Content{
    width: 90%;
    // margin: 2% auto 0%;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    .left{
        /* Rectangle 4 */

        position: absolute;
        width: 577.31px;
        height: 119.54px;
        left: -260.58px;
        top: 235.68px;
        
        background: linear-gradient(90.64deg, rgba(82, 0, 255, 0.5) 3.06%, rgba(202, 43, 157, 0.5) 75.86%);
        filter: blur(186.777px);
        z-index: 92;
        }
    .center{
        .planetName{
            /* ETHERON */
            
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 500;
            font-size: 66.6667px;
            line-height: 90px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.32em;
            
            background: linear-gradient(101.23deg, #EDEDED 24.07%, #B6B6B6 96.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
    
        }
        .planetInfo{
            width: 80%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            .card{
                width: max-content;
                .Title{

                    font-family: 'Satoshi';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 21.7341px;
                    line-height: 29px;
                    text-align: center;
                    letter-spacing: 0.16em;
                    text-transform: uppercase;

                    color: rgba(189, 197, 226, 0.7);


                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                }
                .info{

                    font-family: 'Satoshi';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 27.1676px;
                    line-height: 37px;
                    /* identical to box height */
                    text-align: center;

                    color: rgba(255, 255, 255, 0.9);


                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    flex-grow: 0;

                    }
            }
        }

    }
    .right{
        /* Rectangle 4 */

        position: absolute;
        width: 665.53px;
        height: 127.32px;
        left: 1660.58px;
        top: 305.62px;
        
        background: linear-gradient(90.64deg, rgba(82, 0, 255, 0.5) 3.06%, rgba(146, 27, 188, 0.5) 75.86%);
        filter: blur(162.764px);
        z-index: 92;
    }
}

.left-carousel{
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 750ms ease-in-out;
    img{
        width: 100;
    }
    h4{/* ORIONIS */

        max-width: 171px;
        max-height: 46px;
        
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 33.9595px;
        line-height: 46px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.16em;
        
        background: linear-gradient(101.23deg, rgba(237, 237, 237, 0.8) 24.07%, rgba(182, 182, 182, 0.8) 96.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        
    }

    &:hover{
        scale: 1.5;
    }
}
.planet{
    width: 20%;
}
.orbit{
    width: 80%;
    margin: 0% 6%;
    height: 97%;
    .planets{
        width: 100%;
        margin: 0% auto;
        height: 60%;
        position: absolute;
        margin-top: 1%;
        #outline4{/* Outline 4 */

            box-sizing: border-box;

            position: absolute;
            width: 1305.94px;
            height: 1305.94px;
            left: 215.37px;
            top: 215.37px;


        }
    }
}

.right-carousel{
    position: absolute;
    top: 50%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 750ms ease-in-out;
    img{
        width: 100;
    }
    h4{/* LUMENARA */

        width: 221px;
        height: 46px;
        
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 33.9595px;
        line-height: 46px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.16em;
        
        background: linear-gradient(101.23deg, rgba(237, 237, 237, 0.8) 24.07%, rgba(182, 182, 182, 0.8) 96.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        
        
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        
    }

    &:hover{
        scale: 1.5;
    }
}

.active-planet{
    // position: absolute;
    // right: 0%;
    // bottom: 0%;
    width: 60%;
    height: 100%;
    margin: 5% 20% 0%;
}